body {
    background: #F6F9FC;
    /*background: linear-gradient(to right, #ffa751, #ffe259);*/
}

.bg{
    background-image: url(img/banner_inicio_sesion.jpg);
    background-position: center center;
    background-size: cover;
    /*filter: blur(1px);*/
}